In [1]:
%matplotlib inline
import os
import numpy as np
import pandas as pd
from sklearn.ensemble import RandomForestClassifier
from sklearn.pipeline import FeatureUnion
from sklearn.base import BaseEstimator, TransformerMixin
from sqlalchemy import create_engine
import matplotlib.pyplot as plt
from time import time
con = create_engine(os.environ['db_uri'], echo=False).raw_connection()

In [7]:
currency = "EUR"
sql = "select date,currency,rate \
       from dw.currency \
       where \
        currency = %(currency)s \
        and date between %(start)s and %(end)s \
       group by 1, 2, 3"
df = pd.read_sql(sql,con,
                 params={'currency':currency,
                         'start':'2016-01-01',
                         'end':'2017-12-31'},index_col='date',parse_dates=['date'])
df['date'] = df.index

In [8]:
df.head()

           currency      rate       date
date
2017-03-01      EUR  1.050751 2017-03-01
2017-02-09      EUR  1.064283 2017-02-09
2017-04-10      EUR  1.066894 2017-04-10
2017-01-05      EUR  1.053297 2017-01-05
2017-01-17      EUR  1.062925 2017-01-17